#nav-box {
    position: relative;
    width: 60%;
    background: #84CCC1;
    border-radius: 5px;
    padding: 1.5em 1.5em;
    color: rgba(0, 0, 0, 0.5);
    line-height: 2em;
    margin: 60px auto;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

.data-scroll-nav:hover {
    border: 1px solid black;
}

.navig:before, .navig:after {
    z-index: -1;
    position: absolute;
    content: "1";
    bottom: 15px;
    left: 10px;
    width: 50%;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    transform: rotate(-3deg);
}

#nav-box:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.link {
    color: #84b3cc;
}

#nav li:first-child {
    color: black;
    background-color: #84c5cc;
    border: 1px solid grey;
}

#nav li {
    font-size: 24px;
    display: inline-block;
    margin-left: 75px;
    vertical-align: middle;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
    color: white important;
    font-family: "Helvetica";
    font-weight: bolder;
    font-style: italic;
}

#nav li:hover {
    box-shadow: 0 5px 10px rgba(134, 161, 134, 0.7);
    text-decoration: none;
}

#content {
    position: relative;
    height: 100%;
    background: #84CCC1;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2em 2em;
    color: rgba(0, 0, 0, .8);
    line-height: 2em;
    margin: 60px auto;
    overflow: hidden;
}

.first {
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.second {
    height: 100%;
    background-color: aliceblue;
    border-radius: 5px;
}

.second ul li {
    font-size: 16px;
}

.third {
    height: 100%;
    background-color: antiquewhite;
    border-radius: 5px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.panel {
    height: 150px;
    background-color: #fff;
}

.social-cell {
    display: table-cell;
    vertical-align: middle;
}

.social-butt {
    width: 70px;
}

#social-butt-g:hover {
    content: url("img/g-fill.jpg");
}

#social-butt-f:hover {
    content: url("img/f-fill.jpg");
}

#social-butt-vk:hover {
    content: url("img/vk-fill.jpg");
}

.main-game-image {
    width: 100%;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: #bdc3c7;
    font-size: 1.2em;
    color: #34495e;
    padding: 15px 20% 0 20%;
}
